rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // RN-04 (D-013): role imutavel + deletar bloqueado
    match /users/{uid} {
      allow read:   if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null && request.auth.uid == uid
                    && request.resource.data.role == resource.data.role;
      allow delete: if false;
    }
  }
}
